doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title University of Reading Malaysia
    link(rel="shortcut icon", href="img/favicon/favicon.ico")
    link(rel="apple-touch-icon", sizes="76x76", href="img/favicon/76.png")
    link(rel="apple-touch-icon", sizes="120x120", href="img/favicon/120.png")
    link(rel="apple-touch-icon", sizes="152x152", href="img/favicon/152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/180.png")
    link(href='css/screen.css', rel='stylesheet', type='text/css')
    //if IE 
      link(rel='stylesheet', type='text/css', href='css/ie-screen.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://use.typekit.net/evf3zix.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}
    
  body
    .wrapper
      header.hero.hero--business
        .row
          .top-bar
            .logo
              img(src='img/device.svg')
            nav.nav    
              ul
                a(href='index.html')
                  li Home
                li.course-btn courses
          
          
          .sub-nav
            .arrow
            ul
              li 
                a(href='foundation-courses.html') Foundation Programmes
              li.active-sub Business and Finance
              li 
                a(href='property-and-construction.html') Property and Construction
              li 
                a(href='sciences.html') Sciences


          .menu
            img(src='img/menu.svg')
    
        .row
          .hero__text
            .hero__title
              h1 Business 
                br 
                |  and Finance
          .hero__course-intro
            p Choose from three programmes delivered by the triple-accredited Henley Business School. All offer excellent career prospects and world-class teaching, but offer different options suitable for different roles in business. 
            p Get the best of both worlds – choose from a finance-focused BSc that will prepare you for finance roles. A management-focused BA that provides a great basis for entrepreneurial and managerial roles.  Or an Accountancy BSc that will give you the best start in your career. You can also choose to study for part of your course in the UK.
          
          a.btn.red(href='http://www.reading.edu.my/apply') How to apply
      
      section.course__container
        article.row
          .large-6.medium-6.columns
            h2.course__heading 
              em BSc 
              | Finance and Business Management
            p Explore finance specialisms and core areas of business management, such as strategy, marketing and international business in this 3 year course. The strong emphasis on international will prepare you to face the challenges of global business. This course offers an excellent grounding for a career in finance related careers, but the broader business management knowledge you'll develop will also prepare you for a range of other roles in business and other sectors. Over 90% of University of Reading graduates are in employment or further study within 6 months of graduating.
            a.btn.red(href='http://www.reading.edu.my/apply') How to apply
            a.btn.grey(href='http://www.reading.edu.my/learn/bsc-finance-and-business-management') Find out more
          .large-6.medium-6.columns
            aside.fact-file
              img.fact-file__icon(src='img/fact-file.svg')
              h4 Fact file
              h5 Entry requirements
              ul
                li 
                  strong A level: 
                  | AAB+ to BBB
                li 
                  strong STPM: 
                  | AAB+ to BBB
                li 
                  strong UEC: 
                  | 5As+ excluding Bahasa Melayu and the Chinese language
                li 
                  strong International Baccalaureate: 
                  | 35+ to 32 points overall or an equivalent international qualification
              h5 Maths requirements:
              ul
                li Grade A or higher in Maths at IGCSE; SPM Mathematics Grade A or higher; or equivalent
              h5 English language requirements
              ul                
                li Grade B or higher in English at IGCSE; SPM English 1119 Grade B or higher; or equivalent  
                li IELTS 6.5
              h5 Fees
              ul
                li 
                  strong Home: 
                  | RM 36,775 pa 
                li 
                  strong International: 
                  | RM 52,500
              h5 Scholarships
              p Find out more 
                a(href='http://www.reading.edu.my/scholarships ') here    
      
      section.course__container
        article.row
          .large-6.medium-6.columns
            h2.course__heading 
              em BA 
              | Management and Business
            p Get a head start in business including areas such as marketing, finance, entrepreneurship and law. This wide-ranging course allows you to specialise in your area of interest in your final year. 
            p This programme is a great basis for running a business, starting up a new enterprise or managing an established organisation.  Other career options include consultancy, banking and finance, management, accountancy, sales and marketing and the public sector.
            a.btn.red(href='http://www.reading.edu.my/apply') How to apply
            a.btn.grey(href='http://www.reading.edu.my/learn/ba-management-and-business') Find out more
          .large-6.medium-6.columns
            aside.fact-file
              img.fact-file__icon(src='img/fact-file.svg')
              h4 Fact file
              h5 Entry requirements
              ul
                li 
                  strong A level: 
                  | AAB+ to BBB
                li 
                  strong STPM: 
                  | AAB+ to BBB
                li 
                  strong UEC: 
                  | 5As+ excluding Bahasa Melayu and the Chinese language
                li 
                  strong International Baccalaureate: 
                  | 35+ to 32 points overall or an equivalent international qualification
              h5 Maths requirements
              ul
                li Grade B or higher in Maths at IGCSE; SPM Mathematics Grade B  or higher; or equivalent
              h5 English language requirements
              ul
                li Grade B or higher in English at IGCSE; SPM English 1119 Grade B or higher; or equivalent
                li IELTS 6.5
              h5 Fees
              ul
                li 
                  strong Home: 
                  | RM 36,775pa 
                li 
                  strong International: 
                  | RM 52,500
              h5 Scholarships
              p Find out more 
                a(href='http://www.reading.edu.my/scholarships ') here  

      section.course__container
        article.row
          .large-6.medium-6.columns
            h2.course__heading 
              em BSc 
              | Accounting & Finance
              a(href='#foot-note') *
            p This programme is ideal for those looking for a professional qualification and strong career prospects in both the financial and accounting sectors. 
            p Alongside learning core theory - such as management accounting, portfolio management and corporate finance - you will also gain an understanding of the wider external environment such as international markets and securities and the ethics needed to excel in the professional.
            p This programme will allow graduates to apply for exemptions and/or credit for onward learning and accreditation from the professional accounting bodies.
            aside#foot-note
              p *Subject to MOHE approval 
            a.btn.red(href='http://www.reading.edu.my/apply') How to apply
            a.btn.grey(href='http://www.reading.edu.my/learn/bsc-accounting-and-finance') Find out more
          .large-6.medium-6.columns
            aside.fact-file
              img.fact-file__icon(src='img/fact-file.svg')
              h4 Fact file
              h5 Entry requirements
              ul
                li 
                  strong A level: 
                  | AAB+ to BBB
                li 
                  strong STPM: 
                  | AAB+ to BBB
                li 
                  strong UEC: 
                  | 5As+ excluding Bahasa Melayu and the Chinese language
                li 
                  strong International Baccalaureate: 
                  | 35+ to 32 points overall or an equivalent international qualification
              h5 Maths requirements
              ul
                li Grade A or higher in Maths at IGCSE; SPM Mathematics Grade A  or higher; or equivalent
              h5 English language requirements
              ul
                li Grade B or higher in English at IGCSE; SPM English 1119 Grade B or higher; or equivalent
                li IELTS 6.5
              h5 Fees
              ul
                li 
                  strong Home: 
                  | RM 36,775pa 
                li 
                  strong International: 
                  | RM 52,500
              h5 Scholarships
              p Find out more 
                a(href='http://www.reading.edu.my/scholarships ') here  
                
      section
        .row
          .large-12.columns
            aside.other-courses
              ul
                li
                  strong Other courses 
                li
                  a(href='foundation-courses.html') Foundation Programmes 
                li
                  a(href='property-and-construction.html') Property and Construction 
                li
                  a(href='sciences.html') Sciences

              

      footer.footer
        .row
          .medium-6.columns
            p &copy; 2015 University of Reading
            p Visit the main site 
              a(href='http://www.reading.edu.my') reading.edu.my
          .medium-6.columns
            ul.social-media
              a(href='https://www.facebook.com/universityofreadingmalaysia?ref=ts&fref=ts')
                li.facebook
              a(href='https://twitter.com/UoRMalaysia')
                li.twitter
              a(href='https://www.linkedin.com/edu/school?id=171025&trk=edu-cp-title') 
                li.linkedin
              a(href='https://plus.google.com/105915338740456278219/posts')
                li.googleplus
              a(href='https://www.youtube.com/channel/UCFOV46h5JqwaBD2gSzL8TJg')
                li.youtube
              a(href='https://www.instagram.com/uniofreadingmalaysia/')
                li.instagram

    script.
      $('.course-btn').on('click', function(){
      $('.sub-nav').toggleClass('show-sub-nav');
      });  

    script.
      $('.menu').on('click', function(){
      $('nav').toggleClass('show-nav');
      });

    script.
      $('.course-btn').on('click', function(){
      $(this).toggleClass('active');
      });  
