doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title University of Reading Malaysia
    link(href='css/screen.css', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://use.typekit.net/evf3zix.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}
    
  body
    .wrapper
      header.hero
        .row
          .top-bar
            .logo
              img(src='img/device.svg')
            nav.nav    
              ul
                a(href='index.html')
                  li Home
                li.course-btn courses
          
          
          .sub-nav
            .arrow
            ul
              li
                a(href='business-and-finance.html') Business and Finance
              li 
                a(href='index.html') Property and Construction
              li 
                a(href='index.html') Sciences
              li 
                a(href='index.html') Foundation Courses
    
          .menu
            img(src='img/menu.svg')
    
        .row
          .hero-text
            div
              h1.hero-title Are you Ready
            .title-spacing
              h1.hero-subtitle to join the top 1%
          
          a.btn.red(href='#') How to apply
      
      section.panel-1
        .row
          .large-4.columns
            img.icon-fixed(src='img/world-icon.png')
            div.margin-fix  
              h2.panel-title Best of both worlds
            p Study the same excellent course content offered in the UK at a fraction of the cost. You’ll even have the option to study in the UK for up to 2 years as part of your degree.
          .large-4.columns
            img.icon-fixed(src='img/scholarship-icon.png')
            div.margin-fix              
              h2.panel-title 100% Scholarships
            p We offer up to 100% scholarships for the highest achieving students. A range of other scholarships giving substantial discounts of up to 30% on standard course fees are also available.
          .large-4.columns
            img.icon-fixed(src='img/campus-icon.png')
            div.margin-fix                  
              h2.panel-title Outstanding campus
            p Our brand new campus in EduCity@Iskandar offers a fantastic environment for life, study and networking providing all you need, including accommodation and healthcare.

      section.courses
        .row
          .medium-6.columns
            .course-img-1
            .course-info
              div.margin-fix   
                h3 Business and finance
              p Choose from two courses delivered by the triple-accredited Henley Business School. Both offer excellent career prospects and world-class teaching, but focus on different aspects of business.
              //.find-out-more
              a.btn.grey(href='business-and-finance.html') Find out more
          .medium-6.columns
            .course-img-2
            .course-info
              div.margin-fix   
                h3 Property and construction
              p Get set for a career in a sector with amazing opportunities. Our degrees in Real Estate and Quantity Surveying are accredited by globally recognised bodies giving you a head start in this fast-growing industry.
              //.find-out-more
              a.btn.grey(href='#') Find out more
          .medium-6.columns
            .course-img-3
            .course-info
              div.margin-fix
                h3 Sciences
              p Kick-start your career with research experience and the opportunity to apply your skills on projects and work placements. Both our Psychology and Pharmacy degrees are recognised by professional bodies.
              //.find-out-more
              a.btn.grey(href='#') Find out more
          .medium-6.columns
            .course-img-4
            .course-info
              div.margin-fix   
                h3 Foundation courses
              p Develop your academic skills and get access to our degree courses – even if you don’t have A levels or equivalent qualifications – by studying for a foundation course in your chosen subject area.
              //.find-out-more
              a.btn.grey(href='#') Find out more

      section.panel-2
        .row
          .large-6.medium-12.columns
            .row
              .medium-6.columns
                img.icon(src='img/employment-icon.png')
                div.margin-fix     
                  h3.panel-title Excellent job prospects
                p Our graduates have above average employability rates and higher earnings than many of our competitors. 
              .medium-6.columns
                img.icon(src='img/1percent-icon.png')
                div.margin-fix   
                  h3.panel-title Be part of the top 1%  
                p The University of Reading is one of the best universities in the world, ranking in the top 1%.
          .large-6.medium-12.columns
            aside.language-support
              div.margin-fix   
                h2.panel-title English Language support
              p We have over 30 years' experience of teaching academic English, so we can help you develop this key skill that will benefit you throughout your career. If you need to improve your English before studying for a degree with us, we offer a range of English language courses that will help you reach the level you need.

      section.end-cta
        .row
          .large-12.columns
            h2.sign-off Are you ready?&nbsp;&nbsp;&nbsp;
            a.btn.white(href='#') How to apply
      
      footer
        .row
          .medium-6.columns
            p &copy; 2015 University of Reading
            p Visit the main site 
              a(href='http://www.reading.edu.my') reading.edu.my
          .medium-6.columns
            ul.social-media
              a(href='https://www.facebook.com/universityofreadingmalaysia?ref=ts&fref=ts')
                li.facebook
              a(href='https://twitter.com/UoRMalaysia')
                li.twitter
              a(href='https://www.linkedin.com/edu/school?id=171025&trk=edu-cp-title') 
                li.linkedin
              a(href='https://plus.google.com/105915338740456278219/posts')
                li.googleplus
              a(href='https://www.youtube.com/channel/UCFOV46h5JqwaBD2gSzL8TJg')
                li.youtube
              a(href='https://www.instagram.com/uniofreadingmalaysia/')
                li.instagram

    script.
      $('.course-btn').on('click', function(){
      $('.sub-nav').toggleClass('show-sub-nav');
      });  

    script.
      $('.menu').on('click', function(){
      $('nav').toggleClass('show-nav');
      });

    script.
      $('.course-btn').on('click', function(){
      $(this).toggleClass('active');
      });  

    script
      $(function(){  // $(document).ready shorthand
      $('.hero').fadeIn('slow');
      });
