doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title University of Reading Malaysia
    link(rel="shortcut icon", href="img/favicon/favicon.ico")
    link(rel="apple-touch-icon", sizes="76x76", href="img/favicon/76.png")
    link(rel="apple-touch-icon", sizes="120x120", href="img/favicon/120.png")
    link(rel="apple-touch-icon", sizes="152x152", href="img/favicon/152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/180.png")
    link(href='css/screen.css', rel='stylesheet', type='text/css')
    //if IE 
      link(rel='stylesheet', type='text/css', href='css/ie-screen.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://use.typekit.net/evf3zix.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}
    
  body
    // Google Tag Manager
    noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-MWKR9H', height='0', width='0', style='display:none;visibility:hidden')
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MWKR9H');
    // End Google Tag Manager
    
    .wrapper
      header.hero.hero--property
        .row
          .top-bar
            .logo
              img(src='img/device.svg')
            nav.nav    
              ul
                a(href='index.html')
                  li Home
                li.course-btn courses
          
          
          .sub-nav
            .arrow
            ul
              li 
                a(href='foundation-courses.html') Foundation Programmes
              li
                a(href='business-and-finance.html') Business and Finance
              li.active-sub Property and Construction
              li 
                a(href='sciences.html') Sciences


          .menu
            img(src='img/menu.svg')
    
        .row
          .hero__text
            .hero__title
              h1 Property and
                br 
                |  Construction 
          .hero__course-intro
            p Get set for a career in a sector with amazing opportunities. Our degrees in real estate and quantity surveying are accredited by internationally recognised bodies, giving you a head start in this fast-growing industry. 
            p Get the best of both worlds – choose from a real estate course that will provide a direct pathway into a career as a surveyor or realtor, or a quantity surveying course with built-in industry experience that provides a great basis for quantity surveying and project management jobs. Either option gives you the opportunity to study in the UK for part of your degree. 
          
          a.btn.red(href='http://www.reading.edu.my/apply') How to apply
      
      section.course__container
        article.row
          .large-6.medium-6.columns
            h2.course__heading 
              em BSc 
              | Real Estate
            p Develop an in-depth understanding of the core areas of real estate such as economics, finance, planning, valuation, law and construction to prepare you for a range of careers. This flexible degree, delivered by the world-renowned Henley Business School, lets you choose your specialism in your final year to tailor your degree to your own interests, as well as providing the opportunity to study in the UK. 
            p Accredited by the internationally recognised Royal Institution of Chartered Surveyors (RICS), Royal Institution of Surveyors Malaysia (RISM) and the Board of Valuers, Appraisers and Estate Agents Malaysia (BOVAEA), it’s also rated #1 in the UK and provides a direct route into careers in property and planning. Typical roles include chartered surveyor, project manager and asset manager. 
            a.btn.red(href='http://www.reading.edu.my/apply') How to apply
            a.btn.grey(href='http://www.reading.edu.my/learn/bsc-real-estate') Find out more
          .large-6.medium-6.columns
            aside.fact-file
              img.fact-file__icon(src='img/fact-file.svg')
              h4 Fact file
              h5 Entry requirements
              ul
                li 
                  strong A level: 
                  | AAB+ to BBB
                li 
                  strong STPM: 
                  | AAB+ to BBB
                li
                  strong UEC: 
                  | 5As+ excluding Bahasa Melayu and the Chinese language
                li 
                  strong International Baccalaureate: 
                  | 35 to 32 points
                  
              h5 English language requirements
              ul
                li IELTS 6.5
              h5 Fees
              ul
                li 
                  strong Home: 
                  | RM 36,775pa
                li 
                  strong International: 
                  |  RM 52,500
              h5 Scholarships available
              p Find out more 
                a(href='http://www.reading.edu.my/scholarships ') here
      
      section.course__container
        article.row
          .large-6.medium-6.columns
            h2.course__heading 
              em BSc 
              | Quantity Surveying
            p Experience world-class teaching and develop practical expertise in areas such as building technology, finance, economics and law. During this flexible, project-focused degree you will use our Building Information Modelling laboratory to develop excellent employability skills, have the option to work with industry professionals on real construction projects, and have the option for UK study.  
            p Accredited by the Royal Institution of Chartered Surveyors (RICS), the Chartered Institute of Building (CIOB) and with (provisional) accreditation from the Board of Quantity Surveyors Malaysia (BQSM), this course is a great basis for careers in quantity surveying, as well as other construction roles such as project management, construction management and cost consultancy. 
            a.btn.red(href='http://www.reading.edu.my/apply') How to apply
            a.btn.grey(href='http://www.reading.edu.my/learn/bsc-quantity-surveying') Find out more
          .large-6.medium-6.columns
            aside.fact-file
              img.fact-file__icon(src='img/fact-file.svg')
              h4 Fact file
              h5 Entry requirements
              ul
                li 
                  strong A level: 
                  | AAB+ to BBB
                li 
                  strong STPM: 
                  | AAB+ to BBB
                li
                  strong UEC: 
                  | 5As+ excluding Bahasa Melayu and the Chinese language
                li 
                  strong International Baccalaureate: 
                  | 35 to 32 points                  
              h5 English language requirements
              ul
                li IELTS 6.5
              h5 Fees
              ul
                li 
                  strong Home: 
                  | RM 36,775 pa
                li 
                  strong International: 
                  | RM 42,290
              h5 Scholarships available
              p Find out more 
                a(href='http://www.reading.edu.my/scholarships ') here
                  
      section
        .row
          .large-12.columns
            aside.other-courses
              ul
                li
                  strong Other courses 
                li
                  a(href='foundation-courses.html') Foundation Programmes 
                li
                  a(href='business-and-finance.html') Business and Finance 
                li
                  a(href='sciences.html') Sciences

              

      footer.footer
        .row
          .medium-6.columns
            p &copy; 2015 University of Reading
            p Visit the main site 
              a(href='http://www.reading.edu.my') reading.edu.my
          .medium-6.columns
            ul.social-media
              a(href='https://www.facebook.com/universityofreadingmalaysia?ref=ts&fref=ts')
                li.facebook
              a(href='https://twitter.com/UoRMalaysia')
                li.twitter
              a(href='https://www.linkedin.com/edu/school?id=171025&trk=edu-cp-title') 
                li.linkedin
              a(href='https://plus.google.com/105915338740456278219/posts')
                li.googleplus
              a(href='https://www.youtube.com/channel/UCFOV46h5JqwaBD2gSzL8TJg')
                li.youtube
              a(href='https://www.instagram.com/uniofreadingmalaysia/')
                li.instagram

    script.
      $('.course-btn').on('click', function(){
      $('.sub-nav').toggleClass('show-sub-nav');
      });  

    script.
      $('.menu').on('click', function(){
      $('nav').toggleClass('show-nav');
      });

    script.
      $('.course-btn').on('click', function(){
      $(this).toggleClass('active');
      });  
