doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title University of Reading Malaysia
    link(rel="shortcut icon", href="img/favicon/favicon.ico")
    link(rel="apple-touch-icon", sizes="76x76", href="img/favicon/76.png")
    link(rel="apple-touch-icon", sizes="120x120", href="img/favicon/120.png")
    link(rel="apple-touch-icon", sizes="152x152", href="img/favicon/152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/180.png")
    link(href='css/screen.css', rel='stylesheet', type='text/css')
    //if IE 
      link(rel='stylesheet', type='text/css', href='css/ie-screen.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://use.typekit.net/evf3zix.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}
    
  body
    // Google Tag Manager
    noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-MWKR9H', height='0', width='0', style='display:none;visibility:hidden')
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MWKR9H');
    // End Google Tag Manager
    
    .wrapper
      header.hero.hero--sciences
        .row
          .top-bar
            .logo
              img(src='img/device.svg')
            nav.nav    
              ul
                a(href='index.html')
                  li Home
                li.course-btn courses
          
          
          .sub-nav
            .arrow
            ul
              li 
                a(href='foundation-courses.html') Foundation Programmes
              li
                a(href='business-and-finance.html') Business and Finance
              li
                a(href='property-and-construction.html') Property and Construction
              li.active-sub Sciences


          .menu
            img(src='img/menu.svg')
    
        .row
          .hero__text
            .hero__title
              h1 Sciences
          .hero__course-intro
            p A degree in Pharmacy
              a(href='#foot-note') * 
              | or Psychology will open up a range of career options including in research, the business world or in clinical practice. 
            p Our programmes are taught by international experts, are recognised by professional bodies and give you the option to study in the UK for part of your course. 
          
          a.btn.red(href='http://www.reading.edu.my/apply') How to apply
      
      section.course__container
        article.row
          .large-6.medium-6.columns
            h2.course__heading 
              em MPharm 
              | Pharmacy
              a(href='#foot-note') *
            p Get a grounding in scientific theory before learning more about the management of human diseases in state-of-the-art pharmaceutical laboratories. You can apply your skills to real-world situations through training placements in hospitals and community settings.  
            p This 4-year course is a 2+2 MPharm in which you'll spend the final 2 years studying in the UK.  In the future, we also expect to offer a 4+0 BPharm course based entirely in Malaysia. Both options will qualify you for Provisionally Registered Pharmacist (PRP) status, allowing you to complete your pharmacist training at a recognised training premises.
            aside#foot-note
              p *Subject to MOHE approval 
            a.btn.red(href='http://www.reading.edu.my/apply') How to apply
            a.btn.grey(href='http://www.reading.edu.my/learn/pharmacy-bpharm-hons-mpharm-hons') Find out more
          .large-6.medium-6.columns
            aside.fact-file
              img.fact-file__icon(src='img/fact-file.svg')
              h4 Fact file
              h5 Entry requirements
              ul
                li 
                  strong A level: 
                  | ABB including Chemistry at grade B or above and one other science subject (Biology, Maths, Physics, Psychology) at grade B or above
                li 
                  strong STPM: 
                  | ABB
                li 
                  strong International Baccalaureate: 
                  | 35-32 points
                li 
                  strong UEC:
                  | 5As+ excluding Bahasa Melaya and Chinese language                 
                  
              h5 English language requirements
              ul
                li IELTS 6.5
              h5 Fees
              ul
                li 
                  strong Home: 
                  | RM 46,125 pa  
                li 
                  strong International: 
                  | RM 53,045 pa 
                li 
              h5 Expected start date
              ul
                li September 2016
              h5 Scholarships available
              p Find out more 
                a(href='http://www.reading.edu.my/scholarships') here
      
      section.course__container
        article.row
          .large-6.medium-6.columns
            h2.course__heading 
              em BSc 
              | Psychology
            p Learn about all the key areas of psychology including brain function, personality and perception from internationally recognised experts. This wide-ranging degree gives you the option to tailor the course to your own interests so you can prepare for your chosen career.   
            p This degree will give you the skills to evaluate existing research as well as conduct your own research projects. You'll get the best of both worlds, studying the theory of psychology as well as undertaking work placements and applied projects giving you relevant real-world experience. 
            a.btn.red(href='http://www.reading.edu.my/apply') How to apply
            a.btn.grey(href='http://www.reading.edu.my/learn/bsc-psychology') Find out more
          .large-6.medium-6.columns
            aside.fact-file
              img.fact-file__icon(src='img/fact-file.svg')
              h4 Fact file
              h5 Entry requirements
              ul
                li 
                  strong A level: 
                  | AAB+ to BBB
                li 
                  strong STPM: 
                  | AAB+ to BBB
                li 
                  strong International Baccalaureate: 
                  | 35-32 points
                li 
                  strong UEC: 
                  | 5As+ excluding Bahasa Melaya and Chinese language                 
                  
              h5 English language requirements
              ul
                li IELTS 6.5
              h5 Fees
              ul
                li 
                  strong Home: 
                  | RM 46,125 pa
                li 
                  strong International: 
                  | RM 53,045 pa
              h5 Scholarships available
              p Find out more 
                a(href='http://www.reading.edu.my/scholarships') here
      
                  
      section
        .row
          .large-12.columns
            aside.other-courses
              ul
                li
                  strong Other courses 
                li
                  a(href='foundation-courses.html') Foundation Programmes 
                li
                  a(href='business-and-finance.html') Business and Finance 
                li
                  a(href='property-and-construction.html') Property and Construction

              

      footer.footer
        .row
          .medium-6.columns
            p &copy; 2015 University of Reading
            p Visit the main site 
              a(href='http://www.reading.edu.my') reading.edu.my
          .medium-6.columns
            ul.social-media
              a(href='https://www.facebook.com/universityofreadingmalaysia?ref=ts&fref=ts')
                li.facebook
              a(href='https://twitter.com/UoRMalaysia')
                li.twitter
              a(href='https://www.linkedin.com/edu/school?id=171025&trk=edu-cp-title') 
                li.linkedin
              a(href='https://plus.google.com/105915338740456278219/posts')
                li.googleplus
              a(href='https://www.youtube.com/channel/UCFOV46h5JqwaBD2gSzL8TJg')
                li.youtube
              a(href='https://www.instagram.com/uniofreadingmalaysia/')
                li.instagram

    script.
      $('.course-btn').on('click', function(){
      $('.sub-nav').toggleClass('show-sub-nav');
      });  

    script.
      $('.menu').on('click', function(){
      $('nav').toggleClass('show-nav');
      });

    script.
      $('.course-btn').on('click', function(){
      $(this).toggleClass('active');
      });  
