// NAV

.nav {
  float: right;
}

.nav ul {
  margin: 0;
}

.nav ul li {
  display: inline-block;
  padding: 28px 20px;
  background-color: $red;
  text-transform: uppercase;
  font-size: 1.15em;
  font-weight: 500;
  color: $white;
  height: 81px;
  position: relative;
  transition: all 0.3s ease 0s;
  a {
    color: $white;
  }
}

.nav ul li:hover {
  background-color: $dark-red;
}

.active {
  background-color: $dark-red !important;
}

.menu {
  display: none;
}

@media (max-width: 450px) {
  .nav {
    float: right;
    clear: both;
    background-color: $dark-red;
    width: 100%;
    box-sizing: border-box;
    height: 0;
    overflow: hidden;
  }
  .nav ul {
    list-style: none;
    padding: 0;
  }
  .nav ul li {
    display: list-item;
    box-sizing: border-box;
    padding: 20px;
    background-color: $dark-red;
    height: auto;
    text-align: right;
  }
  .nav ul li:hover {
    background-color: $dark-red;
  }
  .menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0.8;
  }
  .menu:hover {
    opacity: 1;
    background-color: $dark-red;
  }
  .show-nav {
    height: 100%;
  }
}

// SUB NAV

.course-btn {
  cursor: pointer;
}

.sub-nav {
  background-color: $black;
  position: relative;
  max-height: 0;
  overflow: hidden;
  @include clearfix;
}

.sub-nav ul {
  margin: 0;
  list-style: none;
  float: right;
  padding: 20px 20px 10px 10px;
}

.sub-nav ul li {
  box-sizing: border-box;
  font-size: 1.15em;
  font-weight: 500;
  text-align: right;
  a {
    color: $white;
  }
  a:hover {
    color: $dark-grey;
  }
}

.active-sub {
  color: $dark-red;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $dark-red;
  font-size: 0;
  line-height: 0;
  position: absolute;
  right: 50px;
  top: 0;
}

.show-sub-nav {
  max-height: 100%;
}

@media (max-width: 450px) {
  .arrow {
    border-top: 10px solid $dark-red;
  }
}


// Other courses nav

.other-courses {
  background-color: $white;
  padding: 1.25em;
  margin-bottom: 4em;
}

.other-courses ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.other-courses ul li {
  display: inline-block;
  margin: 0 1.25em 0 0;
  padding: 0;
  text-transform: uppercase;
  a {
    font-weight: 500;
  }
  strong {
    color: $dark-grey;
  }
}

@media (max-width: 785px) {
  .other-courses ul li {
    display: list-item;
  }
}
